.fixedBtn{
	position: fixed;
	top: 70%;
	right: 71px;
	z-index: 99;
	cursor: pointer;
}

.btnR{
    background-color: $colorR;
    color: #FFFFFF;
    padding:  8px 32px;
    border-radius: 22px;
    text-decoration: none;

    &:hover{
        border:1px solid $colorR;
        background-color: #fff;
        color: $colorR;
    }
}

.btnG{
    background-color: $colorG;
    color: #FFFFFF;
    padding:  12px 32px;
    border-radius: 27px;
    text-decoration: none;

    &:hover{
        border:1px solid $colorG;
        background-color: #fff;
        color: $colorG;
    }
}

.btnW
{   
    border: 1px solid $colorG;
    background-color: white;
    color: $colorG;
    padding:  12px 32px;
    border-radius: 27px;
    text-decoration: none;

    &:hover{
        color: white;
        background-color: $colorG;
    }
}

.toTopBtn{
	width: 71px;
	height: 71px;
	border-radius: 50px;
	background-color: $colorG;
	color: white;
	text-align: center;
	line-height: 71px;
    text-decoration: none;

    &:hover{
        border:1px solid $colorG;
        background-color: #fff;
        color: $colorG;
     }
}
