.plantformCard{
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
    
    & li{
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;;
    }

    &Img{
        width: 90px;
    }
    &Title{
        margin: 24px 0px;
        color: $colorB;
    }
    &Content{
        width: 95%;
        text-align: center;
        line-height: 24px;
        color: $colorDGR;
    }

}

.cusmersCard{
    display: flex;
    justify-content: space-between;

    & li{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 24%;
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
        background-color: #fff;
    }

    &Img{
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    &Title{
        color:$colorG;
        margin: 16px 0px;
    }

    &Content{
        color:$colorB;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 48px;
        text-align: center;
    }

}

.functionCard{
    display: flex;
    flex-wrap: wrap;
    & li{
        width: 41%;
        margin-bottom: 28px;
        margin-right: 47px;
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
        background-color: #fff;
    } 
    
    &Img{
        width: 51px;
        
            &Bg{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 86px;
                height: 86px;
                background-color: #fff;
                border-radius: 50%;
                box-shadow: 0px 2px 10px #00000014;
                margin: 32px 0px 24px 32px;
            }
        }

        &Title{
            margin-left: 32px;
        }
    
        &Content{
            margin-top: 16px;
            margin-bottom: 48px;
            margin-left: 32px;
        }

}

.proofCard{
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
    margin-bottom: 134px;

    & li{
        width: 32%;
        position: relative;
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
        background-color: #fff;
    }

    &Img{
        width: 80px;
        border-radius: 50%;
        position: absolute;
        top: -56px;
        left: 32px;
        box-shadow: 0px 2px 10px #00000014;
    }

    &Content{
        margin: 48px 32px 24px 32px;
    }

    & hr{
        width: 90%;
    }
    
    &Company{
        margin: 24px 0px 8px 32px;
    }

    &Name{
        display: inline-block;
        margin: 0px 84px 24px 32px;
    }

    &Star{
        display: inline-block;
        vertical-align: middle;
    }
}