body{
    font-family: 'Noto Sans TC', sans-serif;
}

.fz16{
    font-size: 16px;    
}

.fz18{
    font-size: 18px;
}

.fz20{
    font-size: 20px;
}

.fz24{
    font-size: 24px;
}

.fz32{
    font-size: 32px;
}

.fz48{
    font-size: 48px;
}

.lh70{
    line-height: 70px;
}

.fcG{
    color: $colorG;
}
