@media (max-width: 375px){

    .background{
        display: none;
    }

    .container{
        padding: 0px 20px;
    }

    .fixedBtn{
        top: 70%;
        right: 16px;
    }

    .banner{
        flex-wrap: wrap;
        
        &Content{
            width: 100%;
            text-align: center;
            &UpTitle{
                font-size: 16px;
                line-height: 24px;
            }

            &MainTitle{
                font-size: 32px;
                line-height: 46px;
            }

            &Content{
                font-size: 16px;
                line-height: 24px;
            }


        }

        &Img{

            width: 100%;
            background-image: url(../img/bg_home_sm.svg);
            background-repeat: no-repeat;
            background-size: 334px 244px;
            background-position-y: 90px;

            &SM{
                display: inline;
            }
        }
    }


    .logo{
        width: 130px;
    }

    .plantform{
        margin-top: 99px;
        
            &Title{
                font-size: 28px;
                line-height: 40px;
            }

            &Card{
            flex-wrap: wrap;

            & li{
                width: 60%;
                margin-bottom: 24px;
            }

            &Img{
                width: 60px;
            }
            &Title{
                font-size: 18px;
                line-height: 26px;
                margin: 16px 0px;
            }
            &Content{
                width: 95%;
                text-align: center;
                color: $colorDGR;
            }
        }
    }

    .cusmers{

        margin-top: 60px;

        &Title{
            font-size: 28px;
            line-height: 40px;
        }
    
        &Content{
            font-size: 18px;
            list-style: 26px;
            margin-bottom: 32px;
        }

        &Card{

            flex-wrap: wrap;
            justify-content: center;
        
            & li{
                width: 70%;
                margin-bottom: 24px;
            }
        }
    }

    .function{
        margin-top: 36px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    
        &Cards{
            width: 62%;
        }
    
        &Content{
            width: 90%;
            margin: 0;
        }
    
        &Content{
            text-align: center;
            &Title{
                margin-top: 0px;
                margin-left: 0px;
                font-size: 28px;
                line-height: 40px;
            }
    
            &Content{
                margin-bottom: 28px;
                margin-left: 0px;
                font-size: 16px;
                line-height: 24px;
            }
    
            &Btn{
                margin-left: 0px;
            }
    
        }

        &Card{
            display: flex;
            flex-wrap: wrap;
            margin-top: 44px;

            & li{
                width: 100%;
                margin-bottom: 24px;
                margin-right: 0px;
            } 
        }
    
    }
    

    .proof{
        margin-top: 62px;
  
        &Title{
            font-size: 28px;
            line-height: 40px;
        }

        &Card{
            display: flex;
            justify-content: center;
            margin-top: 88px;
            margin-bottom: 94px;
        
            & li{
                width: 90%;
            }

            & li:nth-child(n+2){
                display: none;
            }

            &Content{
                margin: 48px 17px 16px 16px;
            }
            
            &Company{
                margin: 16px 0px 8px 16px;
            }
        
            &Name{
                margin: 0px 77px 16px 16px;
            }
        
            &Star{
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .CTA{

        &Bg{
            display: none;

            &SM{
                display: block;
                width: 100%;
            }
        }

        &Words{
            font-size: 24px;
            line-height: 35px;
        }

    }
    .footerContent{
        padding: 16px;
    }
}