@import "reset";
@import "variable";
@import "font";
@import "card";
@import "background";
@import "header";
@import "footer";
@import "btn";

* *::before *::after{
        box-sizing: border-box;		
    }

	body{
		background-color: #FFF;  //避免部分瀏覽器深色模式
		background-image: url(../img/ball01.svg),url(../img/ball02.svg),url(../img/ball03.svg);
		background-repeat: no-repeat;
		background-position: left -222px top 565px ,top 1694px right -100px ,top 2640px
        left 150px;
	}

.container{
	max-width: 1120px;
	margin: 0 auto;
	padding: 0px 8px;
	position: relative;
}

// 首頁起

@import "pages/index";
@import "pages/price";
@import "pad";
@import "phone";